body {
    margin: 0;
    background-color: lightseagreen;
    font-size: larger;
    font-family: sans-serif;
}

* {
    box-sizing: border-box; /* размер элемента будет включать в себя отступы */
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    margin-top: 50px;
    max-width: 700px;
    width: 635px;
    min-height: 497px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

.question-number h3 {
    font-weight: bold;
    color: darkslateblue ;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#question {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 0;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 15px;
}

.options div {
    background-color: #ccc;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out; 
}

.options div:hover {
    background-color: #ccccccaf;
}

.options div.correct {
    color: #fff;
    background-color: green;
}

.options div.wrong {
    color: #fff;
    background-color: red;
}

.options div.disabled {
    pointer-events: none;
}

#answers-tracker div.correct {
    background-color: green;
}

#answers-tracker div.wrong {
    background-color: red;
}

.button #btn-next {
    padding: 10px 50px;
    background-color: darkcyan;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all .2s ease-in-out;
    margin-bottom: 15px;
}

.button #btn-next:hover {
    background-color: #009687b6;
}

.button h3 {
    border-bottom: 1px solid #ccc;
}

#answers-tracker div {
    height: 40px;
    width: 40px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.quiz-over-modal {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.quiz-over-modal.active {
    display: flex;
}

.quiz-over-modal .content {
    background-color: darkcyan;
    padding: 30px;
    border-radius: 10px;
    flex-basis: 700px;
    max-width: 700px;
    color: #fff;
    text-align: center;
}

.quiz-over-modal .content h1 {
    font-size: 36px;
    margin: 0 0 20px;
}

.quiz-over-modal .content button {
    padding: 15px 50px;
    border: none;
    background-color: #ff9800;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
}

.quiz-over-modal .content button:hover {
    background-color: #ff9800b4;
}
